/* =Color Options
-------------------------------------------------------------- */
/* line 4, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/colors/ruby-red.scss */
.highlight {
  color: #ed3200;
}

/* line 8, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/colors/ruby-red.scss */
#side-nav a.active:after, #side-nav a:hover:after {
  border: 2px solid #ed3200;
}

/* line 12, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/colors/ruby-red.scss */
#side-nav #top:hover:after {
  border-left: 4px solid #ed3200;
  border-top: 4px solid #ed3200;
}

/* line 17, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/colors/ruby-red.scss */
.bar-fill {
  background: #ed3200;
}

/* line 21, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/colors/ruby-red.scss */
.timeline .entry .time.on:before {
  border: 1px solid #ed3200;
  background: #ed3200;
}

/* line 26, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/colors/ruby-red.scss */
.button {
  border-bottom: 2px solid #ed3200;
}

/* line 30, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/colors/ruby-red.scss */
#submit {
  border-bottom: 2px solid #ed3200;
}
