/* Body Wrapper */
/* line 4, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* Navigation Bar */
/* line 13, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
.navbar {
  padding-top: 0px;
  padding-bottom: 10px;
  float: top;
  margin: -10px 0px 0px 0px;
  background-color: white;
  font-family: Open Sans;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  height: 74px;
  z-index: 10;
}

/* line 27, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
#nav-left {
  margin-top: -5px;
  margin-left: 25px;
  float: left;
}

/* line 33, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
#nav-left img {
  height: 74px;
  padding-top: 15px;
}

/* line 38, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
#nav-right {
  float: right;
  font-size: 1em;
  margin-right: 25px;
}

/* line 44, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
#home-button {
  background-color: #e6e6e6;
  border-bottom: 4px solid #69f0ae;
}

/* line 49, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
.button-header {
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  width: 100px;
  display: inline-block;
}

/* line 57, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
div a {
  text-decoration: none;
  color: black;
}

/* line 62, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
.button-header:hover {
  background-color: #e6e6e6;
  text-decoration: none;
  color: black;
  border-bottom: 4px solid #69f0ae;
}

/* line 69, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
.button-header div:hover {
  border-bottom: 4px solid #69f0ae;
}

/* line 73, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
.button-header a:link {
  text-decoration: none;
  color: black;
}

/* line 78, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
.button-header a:visited {
  color: black;
}

/*  Main Wallpaper */
/* line 85, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
.main-wallpaper {
  margin: 0px;
  padding: 80px;
  height: 200px;
  width: 100%;
}

/* line 92, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/home/template.scss */
.main-wallpaper img {
  height: 550px;
  width: 90%;
  text-align: center;
  margin: auto;
}
