
%meta{:charset => "utf-8"}
  %title Sepand Assadi | SF, CA
  / Behavioral Meta Data
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    / Core Meta Data
    %meta{:charset => "UTF-8"}
      %meta{:content => "Sepand Assadi Website - Full Stack Developer", :name => "description"}
        %meta{:content => "HTML,CSS,XML,JavaScript, Ruby, Fullstack, Front-End, Back-End, Software Developer", :name => "keywords"}
          %meta{:content => "Sepand Assadi", :name => "author"}
            / Favicon
            %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}
              / Apple Touch Icons
              %link{:href => "apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
                %link{:href => "apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
                  %link{:href => "apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
                    %link{:href => "apple-touch-icon-57x57-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "57x57"}
                      / Fonts
                      %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300", :rel => "stylesheet", :type => "text/css"}
                        %link{:href => "https://fonts.googleapis.com/css?family=Lekton", :rel => "stylesheet", :type => "text/css"}
                          / Styles
                          %link{:href => "/assets/home/framework.scss", :rel => "stylesheet", :type => "text/css"}/
                          %link{:href => "/assets/home/style.scss", :rel => "stylesheet", :type => "text/css"}/
                          / Colors
                          %link{:href => "/assets/home/colors/ruby-red.scss", :media => "screen", :rel => "stylesheet", :type => "text/css"}
                            / <link rel="stylesheet" type="text/css" href="css/colors/aqua-blue.css" media="screen">
                            / <link rel="stylesheet" type="text/css" href="css/colors/sunflower-yellow.css" media="screen">
                          /Tooltip CSS
                          / %link{:href => "/assets/tooltipster.css", :rel => "stylesheet", :type => "text/css"}/
                          / Javascript
                          %script{:src => "/assets/modernizr.js"}
                          %script{:src => "/assets//jquery.js"}
                          %script{:src => "/assets/jquery.tooltipster.min.js", :type => "text/javascript"}

/ Begin Pageloader
#pageloader
  / Content
  .pageloader-content
    %img{:alt => "", :src => "/assets/loading.gif"}
      %h6 loading
  / END Content
/ END Pageloader
/ Sticky Nav
%header
  / Container
  .container
    .row.header-inner
      / Logo
      .col-xs-6.col-lg-2
        %img.logo.has-retina{:alt => "Persona", :src => "/assets/logoT.png"}
      / Nav Button
      .menu-button
        %span.before
        %span.main
        %span.after
      / Navigation
      %nav.col-xs-12.col-lg-2.col-lg-offset-8
        %ul#side-nav
          %li
            %a{:href => "#section1"} About
          %li
            %a{:href => "#section2"} Portfolio
          %li.offset
            %a{:href => "#section3"} Experience
          %li.offset
            %a{:href => "#section6"} Education
          %li
            %a{:href => "#section4"} Blogs
          %li
            %a{:href => "#section5"} Contact
          %li
            %a#top{:href => "#"} Top
      / END Navigation
  / END Container
/ END Sticky Nav
/ Begin Hero
%section.hero
  .container
    / Hero Content
    .row.hero-content{"data-0" => "opacity: 1; transform: translate3d(0px, 0px, 0px);", "data-top-bottom" => "opacity: 0; transform: translate3d(0px, 300%, 0px);"}
      / Logo
      .col-xs-12.col-lg-2
        %img.logo.has-retina{:alt => "SA", :src => "/assets/logoT.png"}
      / Intro
      .col-xs-10.col-sm-9.col-lg-7
        %h2 introduction
        %h1
          Hi! I'm
          %span.highlight Sepand Assadi
          and I strive to be the best in what I do!
        %a.scroll-to{:href => "#section1"}
    / END Hero Content
  / END Container
/ END Hero
.container
  / About
  %section#section1.padded-top
    / Content
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        %h2 about
        %p I have moved to 3 different countries all by myself half of my life. When I was 16, I moved to Cyprus to pursue my computer science degree, then UK and now US.
        %p Through this journey, I thought about quitting around 1,000 times (probably more than that). But despite all the hardship in adopting different countries’ culture, making friends, learning new languages, I kept going. I’m that person. Once I say I’ll do something, it will happen.
        %p I put that determination to work as a software developer.  I'm incredibly passionate about crafting beautiful and intuitive UI / UX to ensure the best possible user interactions.
        %p
          If you’re interested in grabbing coffee (or to hear how amazing Cyprus was), please don't hesitate to send an email my way at
          %a{:href => "mailto:info@sepandassadi.com"} email
          or visit my
          %a{:href => "https://www.linkedin.com/in/sepandassadi", :target => "_blank"} LinkedIn
          profile for almost a full resume.
    / Skills
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        / Bar 1
        .bar-title
          %strong Front-End Development / Agile Development / UI - UX Engineer
          %span.align-right 95%
        .bar
          .bar-fill{"data-percent" => "95%"}
        / Bar 2
        .bar-title
          %strong MEAN Stack, ReactJS, JavaScript, jQuery, AJAX
          %span.align-right 90%
        .bar
          .bar-fill{"data-percent" => "90%"}
        / Bar 3
        .bar-title
          %strong Ruby on Rails / Sinatra
          %span.align-right 70%
        .bar
          .bar-fill{"data-percent" => "70%"}
        / Bar 4
        .bar-title
          %strong HTML5 / CSS3 / PostCSS / Sass, Less, SCSS
          %span.align-right 80%
        .bar
          .bar-fill{"data-percent" => "80%"}
        / Bar 5
        .bar-title
          %strong Bootstrap / Materialize / Foundation
          %span.align-right 80%
        .bar
          .bar-fill{"data-percent" => "80%"}
        / Bar 6
        .bar-title
          %strong Relational / Non-Relational DB (MySQL, SQLite, PostgreSQL &amp MongoDB)
          %span.align-right 75%
        .bar
          .bar-fill{"data-percent" => "75%"}
        / Bar 7
        .bar-title
          %strong Test-Driven Development (Jasmine, RSpec, Cucumber, Mocha, Chai, Enzyme)
          %span.align-right 70%
        .bar
          .bar-fill{"data-percent" => "70%"}
        / Bar 8
        .bar-title
          %strong Exposure: Swift / Python / Django / AngularJS
          %span.align-right 20%
        .bar
          .bar-fill{"data-percent" => "20%"}
  / END About
  / Work
  %section#section2
    / Title
    .row.padded-top
      .col-xs-12.col-lg-8.col-lg-offset-2
        %h2 portfolio
    .row.padded-bottom
      / Begin Gallery
      %ul.folio-list
        / Project 1
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-2
          %a.lightbox#project1{:href => "/assets/portfolio/pocketboard3.png"}
            .atvImg
              %img{:alt => "portfolio", :src => "/assets/portfolio/pocketboard3.png"}
                .atvImg-layer{"data-img" => "/assets/portfolio/pocketboard3.png"}
        / Project 2
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.col-lg-4
          %a.lightbox#project2{:href => "/assets/portfolio/personalwebsite.png"}
            .atvImg
              %img{:alt => "portfolio", :src => "/assets/portfolio/personalwebsite.png"}
                .atvImg-layer{"data-img" => "/assets/portfolio/personalwebsite.png"}
        / Project 3
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-2
          %a.lightbox#project3{:href => "/assets/portfolio/guesswhat.png"}
            .atvImg
              %img{:alt => "portfolio", :src => "/assets/portfolio/guesswhat.png"}
                .atvImg-layer{"data-img" => "/assets/portfolio/guesswhat.png"}
        / Project 4
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.col-lg-4
          %a.lightbox#project4{:href => "/assets/portfolio/plus.png"}
            .atvImg
              %img{:alt => "portfolio", :src => "/assets/portfolio/plus.png"}
                .atvImg-layer{"data-img" => "/assets/portfolio/plus.png"}
        / Project 5
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-2
          %a.lightbox#project5{:href => "/assets/portfolio/managedoffice.png"}
            .atvImg
              %img{:alt => "portfolio", :src => "/assets/portfolio/managedoffice.png"}
                .atvImg-layer{"data-img" => "/assets/portfolio/managedoffice.png"}
        / Project 6
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.col-lg-4
          %a.lightbox#project6{:href => "/assets/portfolio/itechchimp.png"}
            .atvImg
              %img{:alt => "portfolio", :src => "/assets/portfolio/itechchimp.png"}
                .atvImg-layer{"data-img" => "/assets/portfolio/itechchimp.png"}
        / Project 7
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-2
          %a.lightbox#project7{:href => "/assets/portfolio/readybuzz.png"}
            .atvImg
              %img{:alt => "portfolio", :src => "/assets/portfolio/readybuzz.png"}
                .atvImg-layer{"data-img" => "/assets/portfolio/readybuzz.png"}
        / Project 8
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.col-lg-4
          %a.lightbox#project8{:href => "/assets/portfolio/sinatra.png"}
            .atvImg
              %img{:alt => "portfolio", :src => "/assets/portfolio/sinatra.png"}
                .atvImg-layer{"data-img" => "/assets/portfolio/sinatra.png"}
      / END Gallery
  / END Work
  / Experience
  %section#section3
    / Title
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        %h2 experience
    / Timeline
    .row
      .timeline.col-xs-12.col-lg-8.col-lg-offset-2
        .entry
          .time 2016 - Present
          .content
            %span.strong Sony PlayStation
            %br Full-Stack Software Engineer
        .entry
          .time 2015 - 2016
          .content
            %span.strong ManagedOffice Inc.
            %br Web Developer
        .entry
          .time 2011 - 2015
          .content
            %span.strong readyBUZZ Inc.
            %br Senior IT Engineer + Web Developer
    / Button
    .row.padded-top
      .col-xs-12.col-lg-8.col-lg-offset-2
        %a.button{:href => "https://s3-us-west-1.amazonaws.com/sepandassadi-website/sa_resume_60816.pdf", :target => "_blank"} Download Resume
  / END Experience
  %br
  %br

  %section#section6
    / Title
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        %h2 education
    / Timeline
    .row
      .timeline.col-xs-12.col-lg-8.col-lg-offset-2
        .entry
          .time 2003 - 2007
          .content
            %span.strong Eastern Mediterranean University
            %br B.S in Computer Science / Information Technology

  / Blogs
  %section#section4
    / Title
    .row.padded-top
      .col-xs-12.col-lg-8.col-lg-offset-2
        %h2 blogs
    .row.padded-bottom
      / Begin Gallery
      %ul.folio-list
        / Blog 1
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-2
          %a.lightbox#blog1{:href => "/assets/blogs/blog-1.jpg"}
            .atvImg
              %img{:alt => "blog", :src => "/assets/blogs/blog-1.jpg"}
                .atvImg-layer{"data-img" => "/assets/blogs/blog-1.jpg"}
        / Blog 2
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.col-lg-4
          %a.lightbox#blog2{:href => "/assets/blogs/blog-2.jpg"}
            .atvImg
              %img{:alt => "blog", :src => "/assets/blogs/blog-2.jpg"}
                .atvImg-layer{"data-img" => "/assets/blogs/blog-2.jpg"}
        / Blog 3
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-2
          %a.lightbox#blog3{:href => "/assets/blogs/blog-3.jpg"}
            .atvImg
              %img{:alt => "blog", :src => "/assets/blogs/blog-3.jpg"}
                .atvImg-layer{"data-img" => "/assets/blogs/blog-3.jpg"}
        / Blog 4
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.col-lg-4
          %a.lightbox#blog4{:href => "/assets/blogs/blog-4.jpg"}
            .atvImg
              %img{:alt => "blog", :src => "/assets/blogs/blog-4.jpg"}
                .atvImg-layer{"data-img" => "/assets/blogs/blog-4.jpg"}
        / Blog 5
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1.col-lg-4.col-lg-offset-2
          %a.lightbox#blog5{:href => "/assets/blogs/blog-5.jpg"}
            .atvImg
              %img{:alt => "blog", :src => "/assets/blogs/blog-5.jpg"}
                .atvImg-layer{"data-img" => "/assets/blogs/blog-5.jpg"}
        / Blog 6
        %li.col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.col-lg-4
          %a.lightbox#blog6{:href => "/assets/blogs/blog-6.jpg"}
            .atvImg
              %img{:alt => "blog", :src => "/assets/blogs/blog-6.jpg"}
                .atvImg-layer{"data-img" => "/assets/blogs/blog-6.jpg"}
      / END Gallery
  / END Work
  / Contact
  %section#section5
    / Title
    .row.padded-top
      .col-xs-12.col-lg-8.col-lg-offset-2
        %h2 contact
    / Form
    .row.padded-bottom
      .col-xs-12.col-lg-8.col-lg-offset-2
        %h1
          %a{:href => "mailto:hi@sepandassadi.com"} hi@sepandassadi.com
        %p Or just send me an email straight through here:
        %form#contact{:method => "get", :name => "contact", :novalidate => "novalidate"}
          %fieldset
            %label{:for => "name"} Name
            %input#name{:name => "name", :type => "text"}/
            %label{:for => "email"} Email
            %input#email{:name => "email", :type => "email"}/
            %label{:for => "message"} Message
            %textarea#message{:name => "message"}
            %img#loading-indicator{:src => "/assets/loading.gif", :style => "display:none"}
            %input#submit{:name => "submit", :type => "submit", :value => "Send Email"}
        #success
          %p Your message was sent successfully! I will be in touch as soon as I can.
        #error
          %p Something went wrong, try refreshing and submitting the form again.
  / END Contact
/ END Container
/ Javascript
:javascript
  function resizeNow() {
        var browserwidth = $(window).width();
        var browserheight = $(window).height();
        $('.pageloader-content').css('right', ((browserwidth - $(".pageloader-content").width()) / 2)).css('top', ((browserheight - $(".pageloader-content").height()) / 2));
    }

    resizeNow();
    $(window).resize(resizeNow);
%script{:src => "/assets/plugins.js"}
%script{:src => "/assets/main.js"}
