/* line 1, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-header {
  position: relative;
  background-image: url(/assets/blogTemplate/header-bg.jpg);
}

/* line 6, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 13, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

/* line 19, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.is-compact .mdl-layout__title span {
  display: none;
}

/* line 23, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-logo-row {
  min-height: 200px;
}

/* line 27, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.is-compact .portfolio-logo-row {
  min-height: auto;
}

/* line 31, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-logo {
  background: url(/assets/logoT.png) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
}

/* line 39, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}

/* line 45, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

/* line 51, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-navigation-row .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

/* line 57, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 42px;
}

/* line 64, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-header .mdl-layout__drawer-button {
  background-color: rgba(197, 197, 197, 0.44);
}

/* line 68, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
}

/* line 73, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ff4081;
  left: 15%;
}

/* line 85, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

/* line 89, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-blog-card-full-bg {
  background: url(/assets/blogTemplate/example-blog03.jpg) center/cover;
}

/* line 93, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-blog-card-event-bg {
  background: url(/assets/blogTemplate/example-blog05.jpg) center/cover;
}

/* line 97, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-blog-card-strip-bg {
  background: url(/assets/blogTemplate/example-blog06.jpg) center/cover;
}

/* line 101, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

/* line 105, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

/* line 111, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
img.article-image {
  width: 100%;
  height: auto;
}

/* line 116, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

/* line 121, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-copy {
  max-width: 700px;
}

/* line 125, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.no-padding {
  padding: 0;
}

/* line 129, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.no-left-padding {
  padding-left: 0;
}

/* line 133, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.no-bottom-padding {
  padding-bottom: 0;
}

/* line 137, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.padding-top {
  padding: 10px 0 0;
}

/* line 141, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

/* line 147, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.demo-card-event > .mdl-card__actions {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 157, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-contact .mdl-textfield {
  width: 100%;
}

/* line 161, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

/* line 166, /Users/sepandassadi/Programming/myWebsite2.1/app/assets/stylesheets/blogs/styles.scss */
footer {
  background-image: url(/assets/blogTemplate/footer-background.png);
  background-size: cover;
}
