<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Sepand, </h1>
    <p><%= @user[:name] %> submitted the contact us form earlier!</p><br>

    <p>Here is the information:</p>
    <p><strong>Prospect Name:</strong> <%= @user[:name] %></p>
    <p><strong>Prospect Email:</strong> <%= @user[:email] %></p>
    <p><strong>Message:</strong> <%= @user[:message] %></p>

  </body>
</html>
