/ Footer
%footer.padded
  / Container
  .container
    / Social List
    .row
      .social-list.col-xs-12.col-lg-8.col-lg-offset-2
        %a{:href => "https://twitter.com/sepandassadi"}
          %i.social-icon-twitter
        %a{:href => "https://github.com/thinktankshark"}
          %i.social-icon-github
        %a{:href => "https://www.linkedin.com/in/sepandassadi"}
          %i.social-icon-linkedin
        %a{:href => "https://www.facebook.com/sepandassadi"}
          %i.social-icon-facebook
        %a{:href => "https://www.instagram.com/sepand.assadi/"}
          %i.social-icon-instagram
    / END Social List
    / Copyright
    .row
      .social-list.col-xs-12.col-lg-8.col-lg-offset-2
        %p.copyright © #{ Date.today.year } Sepand Assadi. All rights reserved.
    / END Copyright
  / END Container
/ END Footer
